body{
    margin: 0;
    padding: 0;
    background: white;
}


.container{
    max-height: 625px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(26,35,50,255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    background-image: url('img/fundo.jpg');
    background-size: cover; /* Adicionado para cobrir toda a tela de maneira responsiva */
    background-position: center; /* Adicionado para centralizar a imagem */
    padding: 10px;
}

h1{
    color: #FFD700;
    padding-top: 5px;
}

.pontos{
    color: preto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.game-over{
    color: rgb(243, 42, 7);
    font-size: 20px;
}

.score {
    color: #e94808;
    font-family: 'Arial Black', Helvetica, sans-serif;
}

.bg-footer{
    background-color: rgba(26,35,50,255);
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: space-between;
}

.bg-footer a{
    color:white;
    font-size: 14px;
    text-decoration: none;
    padding-right: 10px;
}

canvas {
    border: 1px solid black;
    box-shadow: 4px 4px 4px 2px #121312;
    max-width: 100%;
    height: auto;
}